<div class="gvis-wrapper">
    <div id="playground">
	<div id="manuscriptoverlay"></div>

	<div id="manuscript">
		<img src="@@assetPath@@/imgs/full.jpg" width="100%" border="0" usemap="#map" />
	</div>	

<div id="rawtext"></div>
</div>
<div id="lightbox">
	<div id="langtoggle">
		<a class="chooser" id="english" title="english">English</a> | <a class="chooser selected" id="latin" title="latin">Latin</a> | <a class="chooser" id="commentary" title="commentary">Commentary</a>
	</div>
	<div id="lightboxtext"></div>
</div>

</div>
