<div class="gvis-wrapper">
	<div id="playground">
		<div id="documentnav"><div>
    	<!-- <div id="manuscriptoverlay"></div> -->
		<div id="manuscript">
			<img src="@@assetPath@@/imgs/definitivefull.jpg" width="100%" border="0" id="doc"/>
			<div id="mobile-lightbox-wrapper"></div>
		</div>	
		<div id="lightbox">
			<div id="titlewrapper">
				<div id="lightboxtitle"></div>
				<div id="langtoggle">
					<a class="chooser selected" id="english" title="english">English</a><a class="chooser" id="latin" title="latin">Latin</a>
				</div>
			</div>
			<div id="lightboxnav">
				<a class="nav" id="prev">&lt;&lt;    Previous</a><a class="nav" id="next">Next    &gt;&gt;</a>
			</div>
			<div id="lightboxtarget">
				<div id="lightboxtext"></div>
				<div id="commentary"></div>
				<div id="commentary-toggle-on">Show commentary</div>
				<div id="commentary-toggle-off">Hide commentary</div>
			</div>
			
	</div>

</div>
