<div class="gvis-wrapper">
	<div id="documentnav"><div>
    <div id="playground">
	<div id="manuscriptoverlay"></div>

	<div id="manuscript">
		<img src="@@assetPath@@/imgs/definitivefull.jpg" width="100%" border="0" id="doc"/>
	</div>	

<div id="rawtext"></div>
</div>

<div id="lightbox">
	<div id="lightboxtitle"></div>
	<div id="langtoggle">
		<a class="chooser" id="english" title="english">English</a><a class="chooser selected" id="latin" title="latin">Latin</a>
	</div>
	<div id="lightboxtext"></div>
	<div id="commentary"></div>
	<div id="lightboxnav"><span class="nav" id="prev">&lt;&lt;   Previous </span><span class="nav" id="next"> Next    &gt;&gt;</span></div>
</div>

</div>
