/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';

@import 'modules/sample';
@include guss-webfonts();
@include guss-typography-defaults;

.guInteractive {
    color: map-get($pasteup-palette, 'guardian-brand');
}

#lightbox {
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	display: block;
	width: 100%;	background-color: white;
	opacity: 0.95;
	z-index: 100;
	position: absolute;
}

#lightboxtitle {
	font-weight: 900;
	display: block;
	padding: 4px;
	float: left;
	font-size: 18px;
}

#log { position: fixed; left: 0; top: 0; font: medium monospace; background-color: #EEE8AA; }

#playground {
	margin-bottom: 450px;
}

#lightboxtext {
	margin-top: 40px;
	display: block;
	padding: 4px;
	font-style: bold;
	font-size: 14px;
}

#commentary {
	margin-top: 40px;
	display: block;
	padding: 4px;
	font-style: italic;
	max-width: 80%;
}

#manuscriptoverlay {

	background-color: rgb(102, 102, 102);
	opacity: 0.1;
	cursor: pointer;
	height: 100%;
	width: 100%; 
	display: none;
	z-index:99;
	position: absolute;
	top: 0px
}

#langtoggle {
	display: inline-block;
	margin-right: 200px;
	float: right;
	background-color: #ccc;
	border-radius: 32px;
	padding: 2px; 
}

.chooser {
	color: black;
	font-family: 'Guardian Egyptian Web';
  	font-weight: 300;
  	line-height: 20px;
  	font-size: 16px;
  	height: 100%;
  	padding: 10px 10px;
  	cursor: pointer;
}

#english {
	border-radius: 16px 0px 0px 16px;
	border: 1px;
}

#latin {
	border-radius: 0px 16px 16px 0px;
}


.selected {
	color: black;
	background-color: white;
	font-family: 'Guardian Egyptian Web';
  	font-weight: 300;
  	line-height: 20px;
  	font-size: 16px;
  	height: 100%;
  	padding: 5px 10px 5px;
  	border-radius: 8px;
  	cursor: pointer;
}

#lightboxnav {
	padding-top: 10px;
	font-family: 'Guardian Sans Web';
}

#next {
	float: right;
	padding-right:200px;
}

#prev {
	float: left;
	padding-right:50px;
}

