/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'bower_components/pasteup-palette/src/_palette';
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';

@import 'modules/sample';
@include guss-webfonts();
@include guss-typography-defaults;

figure.element-interactive.interactive{
	margin:0;
}
.gvis-wrapper {
    * {
    	box-sizing: border-box;
    }
}

#lightbox {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100%;
	display: block;
	background-color: white;
	opacity: 0.95;
	z-index: 100;
	position: static;
}

#titlewrapper {
	padding: 1px;
	margin:0;
}

#lightboxtitle {
	font-weight: 900;
	display: block;
	padding: 4px;
	float: left;
	font-size: 18px;
}

#lightboxtext {
	margin-top: 18px;
	display: inline-block;
	padding: 4px;
	font-style: bold;
	font-size: 14px;
}

#commentary {
	font-style: italic;
	display: none;
	margin-top: 18px;
	display: block;
	padding: 4px;
	font-style: bold;
	font-size: 14px;
}

#commentary-toggle {
	padding: 4px;
	font-family: 'Guardian Sans Web';
	padding-top: 2px;
	font-size: 12px;
}

#langtoggle {
	display: inline-block;
	margin-right: 10px;
	float: right;
	background-color: #ccc;
	border-radius: 32px;
	padding: 2px; 
}

#langtoggle:after {
	content: "";
	clear: both;
}

.chooser {
	color: black;
	font-family: 'Guardian Egyptian Web';
  	font-weight: 300;
  	line-height: 20px;
  	font-size: 16px;
  	height: 100%;
  	padding: 10px 10px;
  	cursor: pointer;
}

#english {
	border-radius: 16px 0px 0px 16px;
	border: 1px;
}

#latin {
	border-radius: 0px 16px 16px 0px;
}

.selected {
	color: black;
	background-color: white;
	font-family: 'Guardian Egyptian Web';
  	font-weight: 300;
  	line-height: 20px;
  	font-size: 16px;
  	height: 100%;
  	padding: 5px 10px 5px;
  	border-radius: 8px;
  	cursor: pointer;
}

#lightboxnav {
	padding-top: 1px;
	margin-top: 50px;
	font-family: 'Guardian Sans Web';
	overflow:hidden;
}

#commentary-toggle-on, #commentary-toggle-off {
	display: none;
	font-family: 'Guardian Sans Web';
	font-size: 12px;
	padding-top: 10px
	}

#next {
	color: black;
	vertical-align: middle;
	display: block;
	float: right;
}
#prev {
	color: black;
	vertical-align: middle;
	display: block;
	float: left;
	width: 40%;
}

@media(min-width: 400px) {
	#lightbox {
		position: absolute;
		&.lastfew{
			position:static;
		}
	}
	#playground {
		margin-bottom: 300px;
	}
	
}
